<% #binding.pry %>
   <h1>Orders</h1>
        <div>
          <% @orders.each do |order| %>
              <h2>ID: <%= link_to order.id, order %></h2>
        </div>
          <% end %>
 <p><%= will_paginate @orders_ordered %><p>