<% orderid= "#{@order.id}" %>
<%#binding.pry %>
<h3>Subscription's Order_ID:<%= orderid %></h3>
<% #binding.pry %>
<% local= @order.created_at %>
<h3>Subscription is <%=local.strftime("Created on %m/%d/%Y at %I:%M%p")%>
<%= button_to "cancel order of subscriptions", cancel_subscription_path(orderid) %>

